<!DOCTYPE html>
<%- include('../partials/head'); %>
<html lang="pt-br">
  <body class="container">
    <%- include('../partials/header', {pagina:'Sobre'}); %>
    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>
          Oi sou João Paulo Godinho atualmente desenvolvedor Delphi na Khnum,
          estou estudando programação web para migrar de área.
        </p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
